/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* RESET CSS */
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}


#boutique{
    position: absolute;
    width: 22%;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #b5d1ff;
    padding-top: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

#boutique .achat{
    background: rgba(0,0,0,0.6);
    border: 4px solid;
    border-radius: 15px;
    width: 84%;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: none;
}

#boutique .achat img{
    width: 25%;
    display: block;
    position: relative;
    float: left;
    background: rgba(255,255,255,0.15);
    border-radius: 50px;
}
#boutique .achat p {
    font-size: 2vw;
    margin-top: 5%;
}
#boutique .achat .prix{
    font-size: 2.8vw;
    color: aqua;
}

#pts{
    position: absolute;
    top: 0px;
    height: 13%;
    width: 78%;
    right: 0px;
    background: #6b717a;
}

#pts span{
    margin-top: 3%;
    position: relative;
    display: block;
    margin-left: 8%;
    font-size: 4.5vw;
}

header #canvas{
    right: 5%;
    position: absolute;
    width: 15%;
    height: 13%;
}

#bc_title{
    position: absolute;
    width: 78%;
    top: 13%;
    left: 22%;
    background: #ff56b3;
    height: 5%;
    text-align: center;
    font-size: 2.8vw;
    vertical-align: middle;
}

#zone{
    position: absolute;
    background: #bfffc0;
    top: 18%;
    left: 22%;
    width: 100%;
    height: 100%;
}

#prot{
    right: 120%;
    display: none;
    z-index: 5;
    position: absolute;
    width: 9%;
    height: 13%;
    animation: prot 7s linear infinite alternate;
}

@keyframes prot{
    0% {right: -20%; top: 50%;}
    25% {top: 15%; right: 25%;}
    50% {top: 40%; right:50%;}
    75% {top: 75%; right: 75%;}
    100% {top: 22%; right: 120%;}
}